<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ServicoHost.Servico" behaviorConfiguration="wsdlConfiguration">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7578" />
          </baseAddresses>
        </host>
        <endpoint address="customerAdress" binding="basicHttpBinding"
       contract="ServicoHost.IServico"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsdlConfiguration">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>